includes:
    - phpstan-baseline.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    checkMissingIterableValueType: false
    level: max
    paths:
        - src
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'RuntimeException'
